body {
    margin: 0;
    padding: 0;
}

.dashboard-container {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff00ff, #00ffff, #ffff00, #ff00ff);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navigation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.page-section {
    padding: 20px;
    width: 90%;
    margin-top: 20px;
    gap: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.271);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    overflow: hidden;
}

.page-button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    width: 75%;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: display 0.3s;
}

.page-link {
    text-decoration: none;
    color: inherit;
}

.page-section:hover .page-button {
    display: block;
}

.page-section:hover::before {
    transform: rotateY(-20deg);
}

.page-section:hover::after {
    transform: rotateY(20deg);
}
