.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .input {
    margin-right: 10px;
    padding: 5px;
    width: 200px;
  }
  
  .button {
    padding: 5px 10px;
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
  }
  

  .chart-container {
    margin-top: 20px;
    height: 500px; /* Increase the height as desired */
  }
  
  .chart {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 100%; /* Make the chart fill the container */
  }
  
  